
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* ส่วนของหน้าเว็บ */
.main {
  width: 100%;
  background-color: #fff;
}

.side-navbar {
  position: fixed;
  height: 100vh;
  width: 260px;
  background: #460044;
  overflow: hidden;
  transition: 0.5s ease;
}

.side-navbar ul {
  top: 0;
  left: 0;
  width: 100%;
}

.side-navbar ul li {
  width: 100%;
}

.side-navbar ul li:hover {
  background: #8b0084;
}

.side-navbar ul li:first-child {
  margin-bottom: 1rem;
  background: none;
}

.side-navbar ul li a {
  display: block;
  width: 100%;
  display: flex;
  color: #fff;

}

.side-navbar ul li a .icon {
  min-width: 60px;
  display: block;
  font-size: 25px;
  line-height: 60px;
  height: 60px;
  text-align: center;
}

.side-navbar ul li a .text {
  display: block;
  padding: 0 10px;
  line-height: 60px;
  height: 60px;
  white-space: nowrap;
}

.content {
  position: absolute;
  width: calc(100% - 260px);
  left: 260px;
  min-height: 100vh;
  transition: 0.5s ease;
}

.top-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  
}

#menu-icon {
  font-size: 34px;
  cursor: pointer;
}

.content.active {
  width: calc(100% - 60px);
  left: 60px;
}

.side-navbar.active {
  width: 60px;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    left: 0;
  }

  .side-navbar {
    width: 60px;
    left: -60px;
  }

  .content.active {
    width: calc(100% - 60px);
    left: 60px;
  }

  .side-navbar.active {
    left: 0;
  }
}

.header-icon .bx:hover {
  background: #bd46b7;
  border-radius: 25%;
}

.profile-box10{
    text-align: center;
    margin: auto;
    padding:46px 1px 1px 1px ;
    height: 990px;
}
.pfb{
    display: flex;
    flex-direction: column;
    height: 943px;
    justify-content: center;
    background-color: #f7b6f0;   
    
}

.h1{
    font-size: 500px;
    display: flex;

}


input{
    border: none;
    background-color: #f8f8f8;
    border-radius: 7px;
    padding: 40px;
    outline: none;
    position: relative;
    font-weight: 500;
    font-size: x-large;
    
}
input::placeholder{
    font-style: initial;
    font-weight: 600;
    color: #2c2c2c;
}
.number{
    margin: 10px 0;
}
.contactx{
   padding: 0px 610px 250px 610px;
   display: flex;
   text-align: center;
   justify-content: center;
   flex-direction: column-reverse;
   width: 109%;

}
@media screen and (max-width: 768px) {
}
textarea {
    width: 100%; /* กำหนดให้กล่องข้อความเต็มความกว้างของพื้นที่ที่กำหนดให้ใน container */
    width: 50%; /* กำหนดความยาวของกล่องข้อความเป็น 50% ของความกว้างของ container */
    border: none;
    background-color: #f8f8f8;
    border-radius: 7px;
    padding: 40px;
    outline: none;
    position: relative;
    font-weight: 500;
    font-size: x-large;
}
@media screen and (min-width: 768px) {
    textarea {
        width: 80%; /* เมื่อหน้าจอมีความกว้างมากกว่าหรือเท่ากับ 768px กำหนดความยาวของกล่องข้อความให้เป็น 80% */
    }
}
textarea::placeholder{
    font-style: initial;
    font-weight: 600;
    color: #2c2c2c;
}