/* ใช้ Google Fonts Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif; /* ใช้ Poppins font */
  background-color: #f4f4f4; /* เพิ่มสีพื้นหลัง */
}

h1 {
  text-align: center;
}

form {
  max-width: 75%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* เพิ่มสีพื้นหลังในฟอร์ม */
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px; /* ระยะห่างระหว่าง radio button กับ label */
}

.payment-details {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
